<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Analysis</title>
</head>
<body>
    <h1>Spotify Analysis</h1>

    <form action="/submission" method="POST">
        <input type="submit" name="submit" value="demo">
    </form>
    
    <br><br><br>

    <p>If setup has not been performed, then live querying of Spotify data is not available, see the above demo instead</p>
    <form action="/submission" method="POST">
        <input name="text">
        <input type="submit" name="submit" value="live">
    </form>
    
</body>

</html>